<div class="row">
    <div class="col">
        <% if(errors.length > 0) {%>
            <% errors.forEach((e) => { %>
                <div class="alert alert-danger text-center">
                    <%= e %> <br>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>