<div class="row">
    <div class="col">
        <% if(success.length > 0) {%>
            <% success.forEach((e) => { %>
                <div class="alert alert-success text-center">
                    <%= e %> <br>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>